<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ajax Test</title>
    <link id="bs-css" href="https://usman.it/themes/charisma/css/bootstrap-cybrog.min.css" rel="stylesheet">
    <link href="https://usman.it/themes/charisma/css/charisma-app.css" rel="stylesheet">
    <link href='https://usman.it/themes/charisma/css/jquery.noty.css' rel='stylesheet'>
    <link href='https://usman.it/themes/charisma/css/noty_theme_default.css' rel='stylesheet'>
    <link href='https://usman.it/themes/charisma/css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='https://usman.it/themes/charisma/css/uploadify.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://usman.it/themes/charisma/bower_components/jquery/jquery.min.js"></script>
</head>

<body>
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-inner">
            <a class="navbar-brand" href="index.html"> <img alt="Charisma Logo" src="img/logo20.png" class="hidden-xs"/><span>ajax test</span></a>

            <div class="btn-group pull-right theme-container animated tada">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-tint"></i><span
                        class="hidden-sm hidden-xs"> Change Theme / Skin</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="themes">
                    <li><a data-value="classic"  href="#"><i class="whitespace"></i> Classic</a></li>
                    <li><a data-value="cerulean" href="#"><i class="whitespace"></i> Cerulean</a></li>
                    <li><a data-value="cyborg"   href="#"><i class="whitespace"></i> Cyborg</a></li>
                    <li><a data-value="simplex"  href="#"><i class="whitespace"></i> Simplex</a></li>
                    <li><a data-value="darkly"   href="#"><i class="whitespace"></i> Darkly</a></li>
                    <li><a data-value="lumen"    href="#"><i class="whitespace"></i> Lumen</a></li>
                    <li><a data-value="slate"    href="#"><i class="whitespace"></i> Slate</a></li>
                    <li><a data-value="spacelab" href="#"><i class="whitespace"></i> Spacelab</a></li>
                    <li><a data-value="united"   href="#"><i class="whitespace"></i> United</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="app">
        <a class="btn btn-danger" v-on:click ="allRequest()"><i class="glyphicon glyphicon-share-alt icon-white"></i>All Request</a>
        <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Request url</th>
                    <th>Data</th>
                    <th>Method</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="row in request_list">
                    <td>{{row.id}}</td>
                    <td>{{row.url}}</td>
                    <td>{{row.data}}</td>
                    <td>
                        <span v-if="row.method === 'GET'" class="label-default label label-danger">GET</span>
                        <span v-if="row.method === 'POST'" class="label-default label">POST</span>
                    </td>
                    <td>
                        <span v-if="row.status === 'success'" class="label-success label label-default">Success</span>
                        <span v-if="row.status === 'failure'" class="label-default label label-danger">Failure</span>
                        <span v-if="row.status === 'pending'" class="label-warning label label-default">Pending</span>
                    </td>
                    <td>
                        <a class="btn btn-danger" v-on:click ="singleRequet(row.id)">
                            <i class="glyphicon glyphicon-share-alt icon-white"></i>
                            Request
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        var app = new Vue({ 
        el: '#app',
        data: {
            request_list: [
                { id: 1, url: 'http://google.co.jp', method: 'GET', data:'',status:'pending' },
                { id: 2, url: 'http://hogehoge.com', method: 'GET', data:'',status:'pending'  },
                { id: 3, url: 'http://fugafuga.com', method: 'POST', data:'aaa:bbb,ccc:ddd',status:'pending' },
                { id: 4, url: 'http://fugafuga.com', method: 'POST', data:'aaa:bbb,ccc:ddd',status:'pending' },
                { id: 5, url: 'http://fugafuga.com', method: 'POST', data:'aaa:bbb,ccc:ddd',status:'pending' },
                { id: 6, url: 'http://fugafuga.com', method: 'POST', data:'aaa:bbb,ccc:ddd',status:'pending' },
                { id: 7, url: 'http://fugafuga.com', method: 'POST', data:'aaa:bbb,ccc:ddd',status:'pending' },
                { id: 8, url: 'http://fugafuga.com', method: 'POST', data:'aaa:bbb,ccc:ddd',status:'pending' },
                { id: 9, url: 'http://fugafuga.com', method: 'POST', data:'aaa:bbb,ccc:ddd',status:'pending' },
                { id: 10, url: 'http://fugafuga.com', method: 'POST', data:'aaa:bbb,ccc:ddd',status:'pending' },
                { id: 11, url: 'http://fugafuga.com', method: 'POST', data:'aaa:bbb,ccc:ddd',status:'pending' },
                { id: 12, url: 'http://fugafuga.com', method: 'POST', data:'aaa:bbb,ccc:ddd',status:'pending' },
            ]
        },
        methods:{
            allRequest: function () {
                for (let i = 0; i < this.request_list.length; i++) {
                    console.log( this.request_list[i].url );
                    this.request_list[i].status = "failure"
                }
            },
            singleRequet: function(id) {
                for (let i = 0; i < this.request_list.length; i++) {
                    if( this.request_list[i].id == id  ) {
                        console.log( this.request_list[i].url );
                        this.request_list[i].status = "success"
                    }
                }
            }
        }
    });
    </script>
    <script src="https://usman.it/themes/charisma/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://usman.it/themes/charisma/js/jquery.cookie.js"></script>
    <script src='https://usman.it/themes/charisma/bower_components/moment/min/moment.min.js'></script>
    <script src='https://usman.it/themes/charisma/bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
    <script src='https://usman.it/themes/charisma/js/jquery.dataTables.min.js'></script>
    <script src="https://usman.it/themes/charisma/bower_components/chosen/chosen.jquery.min.js"></script>
    <script src="https://usman.it/themes/charisma/bower_components/colorbox/jquery.colorbox-min.js"></script>
    <script src="https://usman.it/themes/charisma/js/jquery.noty.js"></script>
    <script src="https://usman.it/themes/charisma/bower_components/responsive-tables/responsive-tables.js"></script>
    <script src="https://usman.it/themes/charisma/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
    <script src="https://usman.it/themes/charisma/js/jquery.raty.min.js"></script>
    <script src="https://usman.it/themes/charisma/js/jquery.iphone.toggle.js"></script>
    <script src="https://usman.it/themes/charisma/js/jquery.autogrow-textarea.js"></script>
    <script src="https://usman.it/themes/charisma/js/jquery.uploadify-3.1.min.js"></script>
    <script src="https://usman.it/themes/charisma/js/jquery.history.js"></script>
    <script src="https://usman.it/themes/charisma/js/charisma.js"></script>
</body>
</html>
